Source: board-overostorm
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: board-overostorm
Architecture: armhf armel
Depends:
 u-boot-am335x,
 linux-overostorm,
 firmware-overostorm,
 ${misc:Depends}
Description: Das U-Boot for Overo Storm
 This package is part of Pragmatux http://pragmatux.org
